* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .pricing-plan {
    text-align: center;
    /* max-width: 1312px; */
    padding: 20px;
    
    
  }
  
  .pricing-plan .tagline {
    font-size: 16px;
    
    margin-bottom: 40px;
    margin-top: 112px;

  }
  
  .container{
    display: inline-flex;
  }


  .pricing-plan .title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .pricing-plan .subtitle {
    font-size: 18px;
    
    margin-bottom: 80px;
  }
  
  .pricing-plan .card {
    border: 1px solid #ddd;
    padding: 32px;
    width: 416px;
    margin: 16px;
    
    text-align: left; /* выравнивание */
  }
  
  .card img {
    float: right;
    width: 48px;
    height: 48px;
  }
  
  .card .plan-title {

    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 112px;
  }
  
  .card .price {
    font-size: 56px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card .price span {
    font-size: 32px;
    color: #000000;
  }
  
  .card .divider {
    margin: 32px 20px;
    border-bottom: 1px solid #000000;
  }
  
  .card .features {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .card .features li {
    list-style: none;
    margin: 24px 0;
    display: flex;
    align-items: center;
  }
  
  .card .features img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
  
  .card .cta-button {
    display: block;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    
    text-decoration: none;
    

    font-weight: bold;
  }


  .card .cta-button:focus {
    outline: none; 
  }

  .card:has(.cta-button:focus) {
    transform: translateY(-25px); 
    transition: transform 0.2s ease;
  }

  .card-content {
    transition: transform 0.3s ease;
  }

  .card .cta-button:hover {
    background-color: #555;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  

