* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.pricing-plan {
  text-align: center;
  padding: 20px;
}

.pricing-plan .tagline {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.pricing-plan .title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.pricing-plan .subtitle {
  font-size: 14px;
  margin-bottom: 40px;
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.card img {
  float: right;
  width: 40px;
  height: 40px;
}

.card .plan-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 16px;
}

.card .price {
  font-size: 32px;
  font-weight: bold;
  margin: 10px 0;
}

.card .price span {
  font-size: 18px;
  color: #555;
}

.card .divider {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
}

.card .features {
  text-align: left;
  margin-bottom: 20px;
}

.card .features li {
  list-style: none;
  margin: 16px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.card .features img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.card .cta-button {
  display: block;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 16px;
}

.card .cta-button:hover {
  background-color: #555;
  color: #fff;
  transition: background-color 0.3s ease;
}



@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 90%;
    max-width: 400px;
    padding: 16px;
  }

  .pricing-plan .tagline {
    font-size: 12px;
    margin-top: 20px;
  }

  .pricing-plan .title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .pricing-plan .subtitle {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .card .plan-title {
    font-size: 16px;
  }

  .card .price {
    font-size: 24px;
  }

  .card .price span {
    font-size: 14px;
  }

  .card .features li {
    font-size: 12px;
  }

  .card .cta-button {
    padding: 8px;
    font-size: 12px;
  }
}
