
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    line-height: 150%;
    font-size: 18px;
    position: relative;
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
    list-style-type: none;
}
ul{
    list-style: none;
    padding: 0;
}

body{
    min-height: 100vh;
}



.btn-light{
    font-size: 16px;
    padding: 12px 24px;
    border: 1px solid black;
    opacity: 1;
    transition: all 0.3s ease;
    will-change: opacity;
}

.btn-light:hover{
    opacity: 0.5;
}

.btn-dark{
    font-size: 16px;
    padding: 12px 24px;
    background: black;
    opacity: 1;
    color: white;
    transition: all 0.3s ease;
    will-change: opacity;
}

.btn-dark:hover{
    opacity: 0.5;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
    align-items: center;
    border-bottom:2px solid black ;
    margin: 0 auto;
}
.header-container .header__nav{
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-container .header__logo{
    max-height: 28px;

}

.header-container .header__nav .header__links{
    display: flex;
    gap: 32px;
    align-items: center;
}

.header-container .header__nav .header__links .header__links-link,
.header-container .header__nav .header__links .header__links-link a {
    font-size: 16px;
}

.header-container .header__nav .header__links .link-big{
    display: flex;
    align-items: center;
    gap: 4px
}

.header-container .header__nav .header__links .link-big img{
    transform: all 0.3s ease;
    

}

.header-container .header__nav .header__links .link-big:hover > img{
    transform: rotate(180deg);

}

.header__links-link-hidden{
    position: absolute;
    width: max-content;
    top: 42px;
    border: 1px solid black;
    padding: 24px;
    max-width: 368px;
    display: flex;
    flex-direction: column;
    gap:16px
    /* display: none; */
}

.header__links-link-hidden .header__links-link-hidden{
    display: flex;
    gap: 12px;
}

.header__links-link-hidden .header__links-link-hidden .header__links-content .header__links-title{
    font-size: 16px;
    font-weight: 600;

}


.header__links-link-hidden .header__links-link-hidden .header__links-content .header__links-subtitle{
    font-size: 14px;
}

.burger{
    display: none;
}
