@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.btn-dark {
    padding: 8px 20px;
    border: 1px solid black;
    background: black;
    color: white;
    opacity: 1;
    transition: all 0.3s ease;
    will-change: opacity;
}

.btn-dark:hover {
    opacity: 0.5;
}

.btn-light {
    padding: 8px 20px;
    border: 1px solid black;
    opacity: 1;
    transition: all 0.3s ease;
    will-change: opacity;
}

.btn-light:hover {
    opacity: 0.5;
}

/* Table */

.table {
    padding: 112px 64px;
    margin: 0 auto;
    max-width: 1440px;
    border-collapse: collapse;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px;
    border: 1px solid black;
}

.table__header__text-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.table__header__text-head {
    font-size: 20px;
    font-weight: 600;
}

.table__header__text-description {
    font-size: 18px;
}

.table__header__buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.table-content {
    width: 100%;
    border: 1px solid black;
    -webkit-border-horizontal-spacing: 0
}

.table-head__text {
    border-bottom: 1px solid black;
    padding: 16px 24px;
}

.table-main__text {
    border-bottom: 1px solid black;
    padding: 28px 20px;
}

.table-main:last-of-type .table-main__text {
    border-bottom: none;
}

/* Table */

.details-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 8px;
}

.date-joined {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.job-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.level {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.address {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.phone {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.email {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.skills {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.languages {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.experience {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.image-container {
    grid-column: 4 / 5;
    grid-row: 1 / span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
